venv/
build/
task2/base
*.spec
__pycache__
testdata
*.zip
ChineseResource/
*_ruby_*
test
*公
jsonline_corpus
*label_config.json
extract_parallel.py
*_deprecated.*
task2/showAnnotation/pictures/
api_keys/
check_res/