<!DOCTYPE html>
<html>
<head>
    <title>古代汉语单语查询</title>
    <style>
        body {
            font-size: 16px;
        }
    </style>
</head>
<body>
    <! -- 增加处理隐藏值的js函数 -->
    <script>
        function updateHiddenInput(value) {
            document.getElementById('decideApplication').value = value;
        }
    </script>
    <h1>古代汉语方所表达查询系统</h1>
<form method="post" action="{% url 'homepage:query' %}">
    {% csrf_token %}
    <input type="text" name="text_input" placeholder="请输入查询内容">
    <select name="queryrange">
        <option value="all">全部字段</option>
        <option value="trajectory">射体</option>
        <option value="landmark">界标</option>
        <option value="event">事件</option>
        <option value="preposition">介词</option>
        <option value="direction">方位词</option>
    </select>
    <! -- 添加功能：按照空间语义筛选语料-->
    <select name="semanticrange" style="font-family: Songti;">
        <option value="all">全部语料</option>
        <option value="place">处所</option>
        <option value="departure">起点</option>
        <option value="destination">终点</option>
        <option value="orientation">朝向</option>
        <option value="direction">方向</option>
        <option value="path">路径</option>
        <option value="part">部件处所</option>
    </select>
    <! -- 添加功能：精确查询和模糊查询-->
    <select name="querymode" style="font-family: Songti;">
        <option value="accurate">精确</option>
        <option value="fuzzy">模糊</option>
    </select>
    <! -- 隐藏值 -->
    <input type="hidden" id="decideApplication" name="useApplication">
    <button type="submit" onclick="updateHiddenInput('ancient')">单语查询</button>
    <button type="submit" onclick="updateHiddenInput('pattern')">模式查询</button>
    <button type="button" onclick="location.href='{% url "corpus_stat:guide" %}'">语料统计</button>
    <button>使用说明</button>
    <button type="button" onclick="location.href='{% url "homepage:default" %}'">返回主页</button>
</form>
    <! -- 查询数量 -->
    <div>这是对{{ pattern }}的{{ querymode }}查询结果。共有{{ page_sum }}条结果，这是第{{ page_start }}~{{ page_end }}条。</div>
    {% if items %}
    <! -- 语料显示 -->
    <ol>
        {% for item, a, b, c in items %}
            <li>
                {{ item.source.context|slice:a }}<u style="color: red;">{{ item.source.context|slice:b }}</u>{{ item.source.context|slice:c }}
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{% url 'spatialquery:resdetail' item.id %}" target="_blank">详情</a>
            </li>
        {% endfor %}
    </ol>
    {% endif %}
    <! -- 分页逻辑 -->
    {% if items %}
    <div class="pagination_simple" style="text-align: center;">
        {% if items.has_previous %}
            <a href="?page={{ items.previous_page_number }}">上一页</a>
        {% endif %}
        <span class="current">第 {{ items.number }} 页 / 共 {{ page_num }} 页</span>
        {% if items.has_next %}
            <a href="?page={{ items.next_page_number }}">下一页</a>
        {% endif %}
    </div>
    {% endif %}
</body>
</html>