<!DOCTYPE html>
<html>
<head>
    <title>古代汉语方所表达查询系统</title>
    <style>
        body {
            font-size: 16px;
        }
    </style>
</head>
<body>
    <h1>古代汉语方所表达查询系统</h1>
    <input type="text" placeholder="请输入查询内容">
    <select>
        <option value="all">全部字段</option>
        <option value="projectile">射体</option>
        <option value="boundary">界标</option>
        <option value="event">事件</option>
        <option value="direction">方位词</option>
    </select>
    <button>单语查询</button>
    <button>古今对照</button>
    <button>语料统计</button>
    <button>使用说明</button>
    <button onclick="location.href='{% url "homepage:default" %}'">返回主页</button>
    {% if items %}
    <! -- 语料显示 -->
    <ol>
        {% for item, a, b, c in items %}
        <li>{{ item.source.context|slice:a }}<u style="color: red;">{{ item.source.context|slice:b }}</u>{{ item.source.context|slice:c }}&nbsp;&nbsp;&nbsp;&nbsp;<a href="">上下文</a></li>
        {% endfor %}
    </ol>
    {% endif %}
    <! -- 分页逻辑 -->
    {% if items %}
    <div class="pagination_simple" style="text-align: center;">
        {% if items.has_previous %}
            <a href="?page={{ items.previous_page_number }}">上一页</a>
        {% endif %}
        <span class="current">第 {{ items.number }} 页 / 共 {{ page_num }} 页</span>
        {% if items.has_next %}
            <a href="?page={{ items.next_page_number }}">下一页</a>
        {% endif %}
    </div>
    {% endif %}
</body>
</html>